MONGODB_ATLAS_PUBLIC_KEY="<your_public_key>"
MONGODB_ATLAS_PRIVATE_KEY="<your_private_key>"
AWS_ARN="<your_aws_arn>"
AWS_REGION="<your_aws_region>"
AWS_SECRET_KEY="<your_aws_secret_key>"
AWS_ACCESS_KEY="<your_aws_access_key>"
